# Build results
bin/
obj/
out/
Debug/
Release/

# Visual Studio / VS Code
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Core
appsettings.Development.json
appsettings.Local.json

# Logs
*.log
logs/

# NuGet packages
*.nupkg
packages/
*.snupkg

# Temporary files
*.tmp
*.temp
*.cache
*.bak

# Rider / JetBrains
.idea/
*.iml

# DotNet tools
.dotnet/

# Publish output
publish/
